<div class="page-header">
  <h1>Team #<%= @team.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>City</dt>
  <dd><%= @team.city %></dd>


  <dt>Team name</dt>
  <dd><%= @team.team_name %></dd>


  <dt>Team logo</dt>
  <dd><%= @team.team_logo %></dd>


</dl>
