<% @my_players.each do |player| %>
<div class="page-header">
  <h1><%= player.player_name %></h1>
</div>

<dl class="dl-horizontal">
  <dt></dt>
  <dd><img src="<%= player.player_image %>" width="360"></dd>
  <dt></dt><dd></dd>
</dl>

<form action="/players/<%= player.id %>" class="form-horizontal">
  <!-- Label and input for content -->

   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="Player's Stats" class="btn btn-primary">
      </div>
    </div>
  </form>

<% end %>
