<div class="page-header">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<script src="js/bootstrap.js"></script>


<body>
    <div class="row">
      <div class="jumbotron">
        <h2>Context Sports</h2>
        <h4>Harness the Power of Fan Wisdom</h4>
          <p>What Really Happened? How Did that Player Really Perform?</p>

      </div>
  </div>

    <div class="text-primary">
        <p>Using simple stats to evaluate a favorite player or a key player on your fantasy team only gets you so far. You need to be able to easily recall what really happened during a game or how a player really performed. This will allow you (the fantasy team manager) to build confidence throughout the season that you are starting the right players and have the best shot at winning your league (specifically the money or pride that you are better than your friends)</p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h3>Add &amp; Track Your Favorite Players</h3>
        <p>Input or upload key members of your fantasy roster</p>
        <a href="/players" class="btn btn-primary">Players</a>
    </div>

    <div class="col-md-4">
        <h3>Key Stats to Watch</h3>
        <p> </p>
        <p> </p>
        <p>Manage key stats:  Scores, Turnovers, Major Plays</p>
        <a href="/play_responses" class="btn btn-info">Review Plays</a>
    </div>

    <div class="col-md-4">
        <h3>Visualize Results and Compare with League</h3>
        <p> </p>
        <p>!! COMING SOON !!</p>
        <p>Manager's Dashboards Allow You to See How Players are Tracking</p>
        <a href="#" class="btn btn-success">View A Demo</a>
    </div>


  </div>
</body>
</html>
