<div class="page-header">
  <h1>Add Owned Player</h1>
</div>

<% if @owned_player.errors.any? %>
  <% @owned_player.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<form action="/create_owned_player" class="form-horizontal">
  <!-- Label and input for player_id -->
  <div class="form-group">

    <label for="player_id" class="col-sm-2 control-label">
      Player
    </label>
    <div class="col-sm-10">

      <input type="text" id="player_id" name="player_id" placeholder="Player" class="form-control" value="<%= @owned_player.player_id %>">
    </div>

  <!-- Label and input for user_id -->
    </div>
    <div class="form-group">

      <label for="user_id" class="col-sm-2 control-label">

      </label>
      <div class="col-sm-10">

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

      </div>

    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Create Owned Player" class="btn btn-primary">
    </div>
  </div>
</form>
