<div class="page-header">
  <h1>Owned Player #<%= @owned_player.id %></h1>
</div>

<dl class="dl-horizontal">

  <dt>User</dt>
  <dd><%= @owned_player.user_id %></dd>


  <dt>Player</dt>
  <dd><%= @owned_player.player_id %></dd>


</dl>
